mixin head(title)
    head
        meta(charset="utf-8")
        title= title
        meta(name="keywords" content="keywords")
        meta(name="description" content="description")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")

        //favicon
        //-mixin
        mixin favicon(rel, sizes, href, type)
            link(rel= rel, sizes= sizes, href= href, type= type)
        //-include
        +favicon('shortcut icon', '', 'img/favicon/favicon.ico', 'image/x-icon')
        +favicon('apple-touch-icon', '', 'img/favicon/apple-touch-icon.png', '')
        +favicon('apple-touch-icon', '57x57', 'img/favicon/apple-touch-icon-57x57.png', '')
        +favicon('apple-touch-icon', '72x72', 'img/favicon/apple-touch-icon-72x72.png', '')
        +favicon('apple-touch-icon', '114x114', 'img/favicon/apple-touch-icon-114x114.png', '')
        +favicon('apple-touch-icon', '120x120', 'img/favicon/apple-touch-icon-120x120.png', '')
        +favicon('apple-touch-icon', '144x144', 'img/favicon/apple-touch-icon-144x144.png', '')
        +favicon('apple-touch-icon', '152x152', 'img/favicon/apple-touch-icon-152x152.png', '')
        +favicon('apple-touch-icon', '180x180', 'img/favicon/apple-touch-icon-180x180.png', '')

        //viewport
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
        //- meta(name="viewport" content="width=device-width, initial-scale=1.0")

        // Chrome, Firefox OS and Opera
        meta(name="theme-color" content="#000")
        <!-- Windows Phone -->
        meta(name="msapplication-navbutton-color" content="#000")
        <!-- iOS Safari -->
        meta(name="apple-mobile-web-app-status-bar-style" content="#000")

